# 계산기처럼 이용

## 간단한 사칙 연산

In [ ]:
1+1

2

In [ ]:
5-2

3

In [ ]:
15*2

30

In [ ]:
# 실수형으로 결과가 반환됨
10 / 2

5.0

## type()
- 각 데이터 자료형의 유형을 알려주는 함수

In [ ]:
type(3)

int

In [ ]:
type(3.1)

float

In [ ]:
'안녕하세요'

'안녕하세요'

In [ ]:
"안녕하세요"

'안녕하세요'

In [ ]:
type('5')

str

In [ ]:
3 + '5'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

## 거듭 제곱과 나머지

In [ ]:
2 * 2 * 2 * 2 * 2

32

In [ ]:
2 ** 6

64

In [ ]:
13 % 5 # 나머지

3

In [ ]:
13 // 5 # 몫

2

## 과학적 표기법

In [ ]:
3 * 10 **8

300000000

In [ ]:
3e8 # 실수형으로 반환

300000000.0

In [ ]:
3e-4

0.0003

## 논리연산
- True, False

In [1]:
print(True)

True

In [2]:
print(False)

False

In [3]:
type(True)

bool

In [5]:
print(True and True)
print(False and True)
print(False and False)

True
False
False

In [6]:
print(True or True)
print(False or True)
print(False or False)

True
True
False

In [8]:
(5 > 3) and (6 > 3)

True

In [10]:
5 == 3

False

In [12]:
5 < 3

False

In [13]:
5 > 3

True

# 입력과 출력
- 입력 : input()

In [15]:
x = input("임의의 값을 입력하세요")
print(x)

임의의 값을 입력하세요 10

10

In [16]:
x = 1
y = 1
print(x + y)

2

In [18]:
x = input("임의의 숫자를 입력하세요")
y = input("임의의 숫자를 입력하세요") 

print(type(x), type(y))
print(x + y)

임의의 숫자를 입력하세요 1
임의의 숫자를 입력하세요 1

<class 'str'> <class 'str'>
11

## 자료 형변환
- 문자를 숫자로, 숫자를 문자로, A 자료형에서 D 자료형으로
- 대부분이 클래스 or 함수를 활용해서 형변환

In [19]:
x = int(input("임의의 숫자를 입력하세요"))
y = int(input("임의의 숫자를 입력하세요"))

print(type(x), type(y))
print(x + y)

임의의 숫자를 입력하세요 1
임의의 숫자를 입력하세요 1

<class 'int'> <class 'int'>
2

In [20]:
x = float(input("임의의 숫자를 입력하세요"))
y = float(input("임의의 숫자를 입력하세요"))

print(type(x), type(y))
print(x + y)

임의의 숫자를 입력하세요 1
임의의 숫자를 입력하세요 1

<class 'float'> <class 'float'>
2.0

In [23]:
# 문자열 
a = '3.3'
int(float(a))

3

# String

In [24]:
a = "abc"
b = 'def'
c = "kga"

result = a + b + c
print(result)

abcdefkga

In [25]:
result * 3

'abcdefkgaabcdefkgaabcdefkga'

In [26]:
a = """
dafdaf
adfadfaf
afdafdaf
dfafda
"""
print(a)

dafdaf
adfadfaf
afdafdaf
dfafda

In [27]:
a = '''
dafdaf
adfadfaf
afdafdaf
dfafda
'''
print(a)

dafdaf
adfadfaf
afdafdaf
dfafda

## 문자열 포맷팅
- f-string 포맷팅으로 문자열 만들기

In [30]:
x = 1
a = f'안녕하세요, 저는 숫자 {x} 입니다.'
print(type(a), a)

<class 'str'> 안녕하세요, 저는 숫자 1 입니다.

## 인덱싱 및 슬라이싱

In [38]:
a = "안녕하세요, 저는 파이썬 강사 알파코입니다."
print(len(a)-1)

23

In [40]:
a[len(a)-1]

'.'

In [41]:
a[-1]

'.'

In [43]:
a[24]

IndexError: string index out of range

## 슬라이싱

In [47]:
a = "0123456789"
print(a[0:8:2])
print(a[6:])
print(a[:6])

0246
6789
012345

## 문자열 수정

In [49]:
a = "Aython"
a[0] = 'P'

TypeError: 'str' object does not support item assignment

In [48]:
a = "Aython"

# 미션
# A를 P로 변경하고 싶음
"P" + a[1:]

'Python'

In [50]:
a = "Aython"

# 미션
# A를 P로 변경하고 싶음
result = a.replace("A", "P")
print(result)

Python

## 문자열 메서드
- 클래스와 클래스 메서드에 대한 이해

In [52]:
b = "Aython"

# 미션
# A를 P로 변경하고 싶음
result = b.Replace("A", "P")
print(result)

AttributeError: 'str' object has no attribute 'Replace'

In [53]:
b = "Aython"

# b 활용해서 무언가를 하고 싶음 ==> 메서드가 있을 것 같은데~~

SyntaxError: invalid syntax (3619817117.py, line 3)

In [57]:
sampleText = "hello, streamlit"
sampleText = sampleText.upper()
sampleText

'HELLO, STREAMLIT'

In [58]:
sampleText.lower()

'hello, streamlit'

In [59]:
sampleText = "hello, streamlit"
sampleText.capitalize()

'Hello, streamlit'

In [60]:
sampleText = "hello, streamlit"
sampleText.title()

'Hello, Streamlit'

In [65]:
sampleText = "hello,streamlit"
words = sampleText.split()
words

['hello,streamlit']

In [67]:
sampleText = "hello,stream,lit"
words = sampleText.split(sep=",")
words

['hello', 'stream', 'lit']

In [68]:
sampleText = "hello,stream,lit"
words = sampleText.split(sep=",")
type(words)

list

In [70]:
sampleList = ["hello", "streamlit"]
text = ", ".join(sampleList)
text

'hello, streamlit'

## 시퀀스 자료형 확인
- 인덱싱과 슬라이싱이 가능함
- 반복문 사용할 때 기초자료형 활용

In [71]:
from collections.abc import Sequence

my_num = 100
my_list = [1, 2, 3]
my_string = "hello"

is_num = isinstance(my_num, Sequence)
is_list = isinstance(my_list, Sequence)
is_string = isinstance(my_string, Sequence)

print(is_num)
print(is_list)
print(is_string)

False
True
True

# List 리스트

In [75]:
a = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
print(a[1])
print(a[0:8])

1
[0, 1, 2, 3, 4, 5, 6, 7]

In [79]:
a = [0, 1, 2, ["Python", "Hello"], 3, 4, 5]
a[3][1][1]

'e'

In [82]:
a = ["iM", "뱅크"]
a.append("아카데미")
a

['iM', '뱅크', '아카데미']

In [84]:
a = ["iM", "뱅크"]
result = a.append("아카데미")
print(result)

None

In [87]:
[100, 200] + [300, 400]

[100, 200, 300, 400]

In [86]:
a = [100, 200]
a.append([300, 400])
a

[100, 200, [300, 400]]

In [89]:
a = [100, 200]
a.extend([300, 400])
a

[100, 200, 300, 400]

## 리스트 값 변경 및 삭제

In [91]:
numbers = [302, 401, 418, 430, 529]
numbers[0] = 1302
numbers

[1302, 401, 418, 430, 529]

In [94]:
# 튜플 
numbers = (302, 401, 418, 430, 529)
numbers[0] = 1302
numbers

TypeError: 'tuple' object does not support item assignment

In [96]:
# 리스트 삭제 
numbers = [302, 401, 418, 430, 529]

# 401를 제거한다. 
numbers.remove(401)
numbers

[302, 418, 430, 529]

In [97]:
# 리스트 삭제 
numbers = [302, 401, 418, 430, 529]

# 401를 제거한다. 
del numbers[1]
numbers

[302, 418, 430, 529]

## 딕셔너리

In [98]:
my_dic = {
    'key1' : 'value', 
    'key2' : '모든 기초 자료형'
}

In [105]:
my_dic = {
    "name" : "evan", 
    "age" : 20, 
    "job" : "강사", 
    "쇼핑목록" : [0, 1, 2, ["Python", "Hello"], 3, 4, 5], 
    "그외" : (1, 2, 3), 
    "그외2" : {"key" : "value"}
}

my_dic

{'name': 'evan',
 'age': 20,
 'job': '강사',
 '쇼핑목록': [0, 1, 2, ['Python', 'Hello'], 3, 4, 5],
 '그외': (1, 2, 3),
 '그외2': {'key': 'value'}}

In [110]:
my_dic['쇼핑목록'][3][1][-1]

'o'

In [111]:
my_dic['기타'] = "아무거나" 
my_dic

{'name': 'evan',
 'age': 20,
 'job': '강사',
 '쇼핑목록': [0, 1, 2, ['Python', 'Hello'], 3, 4, 5],
 '그외': (1, 2, 3),
 '그외2': {'key': 'value'},
 '기타': '아무거나'}

In [112]:
my_dic['쇼핑목록'] = ["맥북", "아이패드"]
my_dic

{'name': 'evan',
 'age': 20,
 'job': '강사',
 '쇼핑목록': ['맥북', '아이패드'],
 '그외': (1, 2, 3),
 '그외2': {'key': 'value'},
 '기타': '아무거나'}

In [116]:
list(my_dic.keys())

['name', 'age', 'job', '쇼핑목록', '그외', '그외2', '기타']

In [114]:
my_dic.values()

dict_values(['evan', 20, '강사', ['맥북', '아이패드'], (1, 2, 3), {'key': 'value'}, '아무거나'])

In [115]:
my_dic.items()

dict_items([('name', 'evan'), ('age', 20), ('job', '강사'), ('쇼핑목록', ['맥북', '아이패드']), ('그외', (1, 2, 3)), ('그외2', {'key': 'value'}), ('기타', '아무거나')])